:root {
    --primary-color : #756966;
    --secondary-color: #9B6354;
    transition: --primary-color 1s ease, --secondary-color 1s ease;
  }
body{
    background-color: #DEDEDE;
    padding-right: 2vw;
}

p{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 1vi;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.rectangle {
    width: 119vw;
    height: 76vh;
    top: 15.375vh;
    left: -66vh;
    background-color: var(--primary-color);
    position: absolute;
    transform-origin: top left;
    transform: rotate(-40deg);
}
.line {
    width: 119vw;
    height: 80vh;
    top: 15.375vh;
    left: -66vh;
    background-color: #DEDEDE;
    position: absolute;
    transform-origin: top left;
    transform: rotate(-40deg);
    border: var(--primary-color) solid 4px;
}

.navbar {
    color: #131313;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-items: flex-start;
    padding: 10px 20px;
}

.nav-items {
    display: flex;
    gap: 2vw;
    margin-right: 10vw;
}

.nav-item {
    text-decoration: none;
    color: #131313;
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 1vi;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08px;
}
.nav-item.active {
    position: relative;
}

.nav-item.active::after {
    content: ''; 
    width: 0.5vi; 
    height: 0.5vi; 
    background-color: #25B52B;
    border-radius: 50%;
    position: absolute;
    bottom: -0.9vh;
    left: 50%;
    transform: translateX(-50%); 
}
.active{
    color: #25B52B;
}

.nav-icons {
    display: flex;
    gap: 20px;
    
}

.nav-icon img {
    width: 3vw;
    height: 3vh;
}
.menu{
    position: relative;
    Width: 24vw;
    Height: 60vh;
    object-fit: contain;
    top: -30px;
    transition: opacity 1s ease;
}

.hero-main{
    display: flex;
    justify-content: space-between;
}
.hero-description{
    position: relative;
    top: 20vh;
}
.hero-description .order{
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vi;
    background-color: var(--primary-color);
    border-radius: 0.5vi;
    padding: 0.4vi 2vi 0.4vi 2vi;
    color: #F1F1F1;
    font-family: Plus Jakarta Sans;
    font-size: 1.2vi;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0.4vi;

}
.order img{
    width: 1.5vi;
    height: 1.5vi;
}
.food-description{
    position: relative;
    background-color: #D2D1D1;
    border-radius: 0.5vi;
    right: 0;
    top: 12vh;
    padding: 3vh;
    width: 24vw;
    height: 50vh;
}
.hero-header{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}
.hero-header p{
    display: flex;
    align-items: center;
}
.hero-header p img{
    margin-right: 1vw;
    width: 3vw;
    height: 3vh;
}
.hero-header h1{
    color: #3D3D3D;
    font-family: Plus Jakarta Sans;
    font-size: 5.8vi;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.45px;
    margin-bottom: 0;
}
.h2{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 6vi;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.5px;
}
.food-header{
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 1vi;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08px;
}
.note, .highlight{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 3.4vi;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 5vh;
    margin-top: 4vh;
}
.highlight{
    border-radius: 10px;
    background: var(--secondary-color);
}
.chef{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 1.2vi;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08px;
}
.p-desc{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 1vi;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-bottom: 0;
}
.reaction{
    display: flex;
    gap: 1vi;
}
.react{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #DEDEDE;
    padding: 1.5vh;
    gap: 1vi;
}
.reacti{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #DEDEDE;
}
.react:last-child{
    margin-left: 2vw;
    border-radius: 50%;
}
.react img,.reacti img{
    width: 3vw;
    height: 3vh;
}
.slider{
    width: 4vw;
    height: 8vh;
}
.food-selection{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: -4vh;
    align-items: center;
}
.list-food{
    display: flex;
    margin-left: 2vw;
    gap: 1vw;
}
.food{
    display: flex;
    flex-direction: column;
    padding: 1vi;
    align-items: center;
}

.food img{
    width: 10vw;
    height: 12vh;
    object-fit: contain;
}
.food-active{
    background-color: #D2D1D1;
    border-radius: 0.5vi;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10vw;
}
.stars{
    width: 8vw;
    height: 8vh;
}
.icon img{
    margin-right: 8vw;
    margin-top: 5vh;
    width: 3vw;
    height: 3vh;
    bottom: 1vh;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-right {
  animation: fadeRightToLeft 1.5s ease-in-out;
}

.fade-left {
  animation: fadeLeftToRight 1.5s ease-in-out;
}
.fadeInOutAnimation {
    animation: fadeInOut 1s ease;
}
.menu-opacity-transition {
    transition: opacity 0.5s ease;
}

